<% layout('layouts/boilerplate') -%>

<div class="home-container">
<h1>All posts</h1>
<div id="addiv">
    <a href="/posts/new"><img src="/images/add2.png" id="addicon" class="icon" alt="">Add new post</a>  
</div>

    <% for (let post of posts) { %>
        <div class="homepost-box">
        
            <% if (post.images && post.images.length > 0) { %>
                <img src="<%= post.images[0].url %>" alt="Post Image" class="homepostimg">
            <% } else { %>
                <p>No Image Available</p>
            <% } %>
            <p><%= post.caption %></p>
            <p> <%= post.author.username %> posted on <%= moment(post.createdAt).format('MMMM Do YYYY, h:mm a') %></p>
            <a href="/posts/<%= post._id %>">View Post</a>
        </div>
    <% } %>
        
</div>